# Node modules
node_modules

# Build output
.next

# Environment files
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Development directories
__tests__
coverage

# System files
.DS_Store
*.log

# Editor directories
.idea
.vscode
